@model report1.Irform

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Irform</h4>
    <hr />


    <div id="#@Html.DisplayFor(model => model.IrformId)" class="card-body show mb-2 col-md-12 border-dark" aria-labelledby="headingOne">
        <br />
        <div class="col-md-12 row">

            <div class="form-group col-md-4 row">
                <div class="font-weight-bolder">  @Html.DisplayNameFor(model => model.Department)</div>
                <div class="ml-2">  @Html.DisplayFor(model => model.Department)</div>

            </div>

            <div class="form-group col-md-4 row">
                <div class="font-weight-bolder">  @Html.DisplayNameFor(model => model.FirstName)</div>
                <div class="ml-2">   @Html.DisplayFor(model => model.FirstName)</div>

            </div>

            <div class="form-group col-md-4 row">
                <div class="font-weight-bolder">  @Html.DisplayNameFor(model => model.LastName)</div>
                <div class="ml-2"> @Html.DisplayFor(model => model.LastName)</div>

            </div>
        </div>

        <div class="col-md-12 row">
            <div class="form-group col-md-4 row">
                <div class="font-weight-bolder"> @Html.DisplayNameFor(model => model.DatOfIncident)</div>
                <div class="ml-2">  @Html.DisplayFor(model => model.DatOfIncident)</div>

            </div>


        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IrformId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

</div>
