@model IEnumerable<report1.IncidentReport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IrrelatedDept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IrstartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IrcompleteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ircreater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Irform)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IrrelatedDept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IrstartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IrcompleteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ircreater.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Irform.IrformId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Irid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Irid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Irid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
